
*{
  /*  border: 1px solid red;
    background: rgba(255, 0, 0, 0.1);*/
    font-family: 'Recursive', sans-serif;
}

tr,
th,
td{
    border: 1px solid;
}

a{
    text-decoration: none;
}

header ul{
    list-style-type: none;
}


