
*{
    font-family: 'Recursive', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /*Rolagem da tela mais suave*/
}

body{
    background-color: rgba(5, 2, 44, 0.842);
    color: #f0f0f0
}

tr,
th,
td{
    border: 2px solid;
    padding: 5px;
    
} 

.center {  
    margin: 20px auto 35px auto;

}

a{
    text-decoration: none;
    color: whitesmoke
}

a :hover {
    transition: 0.2s;
    color: rgb(42, 187, 42);    
    -ms-transform: scale(1.3);
    transform: scale(1.3);    
}

header, 
#perfil{
    text-align: center;
    margin: 10px;   
    padding: 10px;
}

header ul{
    list-style-type: none;    
}

header img{
    margin-top: 20px;
    width: 130px;
    height: auto;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.719));    
}

.social-media{
    margin-top: 10px;
    margin-bottom: -20px;
    font-size: 18px;    
}

main{
    margin: 15px;
    padding: 10px;  
}

main h2 {
    color: rgba(255, 147, 7, 0.918);
    margin-bottom: 10px;
}

main div{
    text-align: center;
    margin-bottom: 20px;
}

 main div ul{
    margin-bottom: 15px;
    margin-top: 10px;
} 

main div ul li{
    color: rgba(255, 255, 255, 0.801);
}

.end {
    color: rgb(42, 187, 42);   
}

#form{
    margin-top: 15px;
    margin-bottom: 30px;    
    text-align: center;    
}

.contact{
    margin-top: 30px;
    margin-left: 400px;
    margin-right: 400px;
    padding: 35px 0 30px 110px;   
    border-radius: 1rem;
    background: rgb(116, 90, 150);
    text-align: start;
}

footer{
    text-align: center;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 0; 
    padding: 5px 0 0 0;
}

footer ul, li{
    list-style-type: none;
    display: inline-block; 
    text-align: center;
}

footer img{
    width: 100px;
    height: auto;
    margin-top: 30px;
    padding: 0;    
}

#topo{
   
    background: rgba(5, 2, 44);
    position: fixed;
    display: block;
    bottom: 12px;
    right: 12px;
    padding: 5px 10px; 
    border-radius: 30px;   
}

#topo:hover{
    
    background-color: rgba(27, 10, 73, 0.685);
    transition: 0.4s;    
}